.root {
  width: 100%;
  height: 100%;
  color: #404040;
  font-family: "Poppins", sans-serif;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
