.dialog input {
  background-color: #5f5e5e;
}

.dialog ::placeholder {
  color: #fff;
}

.recipe-name-input {
  width: 100%;
  font-family: "Poetsen One", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.6em;
  margin: 0.85rem 0;
  padding: 0.5rem;
  text-align: center;
  color: #f4c90a;
  border: solid 1.8px #fff;
}

.dialog-container {
  width: 100%;
}

.ingredient-row {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.ingredient-row input {
  color: #fff;
  border: none;
  border-bottom: solid 1.2px #fff;
}

.amount {
  width: 25%;
  padding-left: 0.25rem;
}

.unit {
  width: 25%;
}

.ingredient {
  width: 45%;
}
