.dialog input,
textarea {
  background-color: #5f5e5e;
}

.dialog ::placeholder {
  color: #fff;
  opacity: 0.5;
}

.dialog ::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.dialog input:focus {
  outline: 1.2px solid #fff;
}

.dialog textarea:focus {
  outline: 1.2px solid #fff;
}

.labels-group {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  flex-wrap: wrap;
}

button.label-button {
  padding: 0.5rem 0.5rem;
  border-radius: 0.9rem;
  border: 0.1rem solid #fff;
  color: #fff;
  transition: background-color 0.2s;
  font-size: 0.8rem;
  font-weight: 400;
  height: 1.8rem;
  min-width: 4.5rem;
  opacity: 0.7;
}

button.label-button:hover {
  opacity: 1;
  font-weight: 600;
}

button.label-button.active {
  opacity: 1;
  background-color: #ffeb97;
  border: transparent;
  font-weight: 600;
  color: #404040;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-header button {
  padding: 0.5rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  color: #fff;
  transition: background-color 0.2s;
  height: 2rem;
  width: 2rem;
  opacity: 0.7;
}

.recipe-header .active,
.recipe-header button:hover {
  opacity: 1;
}

.recipe-name-input {
  width: 90%;
  font-family: "Poetsen One", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.6em;
  margin: 1.2rem 0;
  padding: 0.3rem;
  text-align: center;
  color: #f4c90a;
  border: none;
  border-bottom: solid 1.2px #fff;
}

.dialog-container {
  color: #fff;
  width: 100%;
  padding: 0.8rem 0rem;
}

.dialog-container h3 {
  margin: 0.8rem 0rem;
  display: flex;
  align-items: center;
}

.ingredient-table {
  margin: 1rem 0;
  font-size: 0.85rem;
}

.ingredient-row {
  width: 100%;
  height: 1.5rem;
  display: flex;
  margin-bottom: 0.4rem;
}

.ingredient-row input {
  color: #fff;
  border: none;
  border-bottom: solid 1.2px #fff;
  font-size: 0.9rem;
}

.ingredient-row span {
  display: flex;
  align-items: center;
}

.amount {
  width: 30%;
  padding-left: 0.5rem;
  margin-right: 1rem;
}

.unit {
  width: 30%;
  margin-right: 1rem;
}

.ingredient {
  width: 100%;
}

.method-input {
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem;
}

.method-form {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.method-form textarea {
  resize: vertical;
  width: 100%;
  height: 120px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
