.recipe-content {
  padding: 7% 12%;
  width: 100%;
}

.add-recipe {
  width: 90%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  background: transparent;
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  background: rgba(127, 127, 127, 0.4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(127, 127, 127, 0.7);
}

@media only screen and (max-width: 750px) {
  .recipe-content {
    padding: 6% 8%;
  }
}
